@model BeginApplication.Models.Paged.CommentsAdmittedModel

<div class="not-admitted-comment-menu-page" style="border: 1px; padding: 5px;">
    @Html.PagedListPager(
                    (IPagedList)Model.PagedComments,
                    page => Url.Action("GetNotAdmittedComments", "Admin", new { page }),
                    new PagedListRenderOptions
                    {
                        LinkToFirstPageFormat = String.Format("<< Первая страница"),
                        LinkToPreviousPageFormat = String.Format("<"),
                        LinkToNextPageFormat = String.Format(">"),
                        LinkToLastPageFormat = String.Format("Последняя страница >>"),
                        MaximumPageNumbersToDisplay = 1,
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded
                    }
                )
</div>

