@model BeginApplication.Models.ChangeSectionModel

@{
    ViewBag.Title = "Добавить раздел";
}

@using (Ajax.BeginForm("CreateSection", "Admin", Model, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "here-target",
        OnFailure = "OnFailureCreateSection", 
        OnSuccess = "OnSuccessCreateSection"
    }, new { @class = "section-form-to-hide"}))
{    
    <fieldset>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.SectionTitle, new { @class = "form-control", placeholder = "Название раздела" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Создать</button>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>
}
