@model BeginApplication.Models.ChangeSectionModel

@{
    ViewBag.Title = "Добавить раздел";
}
<div class="form-create-section">
    @using (Html.BeginForm("CreateSection", "Admin", Model, FormMethod.Post, null))
    {
        <fieldset>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.SectionTitle, new { @class = "form-control", placeholder = "Название раздела" })
                        <span class="input-group-btn">
                            <button class="show-hide-form-create-section btn btn-default" type="submit" onclick="return confirm('Вы действительно хотите создать новый раздел?')">Создать новый раздел</button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    }
</div>