@model List<BeginApplication.Models.ChangeSectionModel>

@{
    ViewBag.Title = "Разделы формума";
}

Разделы форума
<div class="container main section-list">
    @foreach (var s in Model)
    {
        @Html.Partial("_Section", s)
    }
</div>