@{
    ViewBag.Title = "Раздел администрирования";
}

<h2>Раздел управления сайтом</h2>

@if (User.IsInRole("admin"))
{ 
    <ul>
        <li>@Html.ActionLink("Управление пользователями", "GetUsers", "Admin", null, null)</li>
        <li>@Html.ActionLink("Управление разделами", "GetSections", "Admin", null, null)</li>        
        <li>@Html.ActionLink("Управление сообщениями", "GetNotAdmittedComments", "Admin", null, new { @class = "similar-href"})</li>
    </ul>
}
else if (User.IsInRole("moder"))
{
    @Html.ActionLink("Модерация сообщений", "GetNotAdmittedComments", "Admin", null, new { @class = "similar-href" })
}