@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выслать письмо для восстановления пароля</h2>

<span class="good-temp-data">@TempData["Message"]</span>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Форма отправки письма</legend>
        
        <div class="editor-label">
            @Html.Label("Электронная почта", new { @for = "Email" })
        </div>
        <div class="editor-field">
            @Html.TextBox("Email")
        </div>       
        
        <input type="submit" value="Отправить письмо" />
</fieldset>
}