@model BeginApplication.Models.AddCommentModel

<div class="add-comment" style="overflow: auto;">
    @using (Html.BeginForm("_AddComment", "Forum", new { UserId = Model.UserId, ThemeId = Model.ThemeId }, FormMethod.Post, new { id = "add-comment-form" }))
    {
        @Html.ValidationSummary()

        <fieldset>
            <legend>Форма отправки комментария</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.CommentText)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CommentText)
            </div>

            <input type="submit" value="Отправить комментарий" class="toAnchorButton" />
        </fieldset>
    }
</div>


