@model BeginApplication.Models.AddCommentModel

<div class="add-comment" style="overflow: auto;">
    @using (Html.BeginForm("_AddComment", "Forum", new { UserId = Model.UserId, ThemeId = Model.ThemeId }, FormMethod.Post, new { id = "add-comment-form" }))
    {
        @Html.ValidationSummary()

        <fieldset>
            <legend>Форма отправки комментария</legend>
            <div style="width: 400px">
                @Html.TextAreaFor(m => m.CommentText, new { @class = "form-control", placeholder = "Содержание" })
                <button type="submit" class="btn btn-primary">Отправить комментарий</button>
            </div>
        </fieldset>
    }
</div>


