@model BeginApplication.Models.CommentsWithThemeModel

@if (User.Identity.IsAuthenticated || Model.TotalItems > 10)
{ 
    <div class="comment-menu">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="comment-menu-add">       
                <input type="button" class="btn btn-sm btn-default" value="Добавить комментарий" class="buttonShow" />
            </div>
        }
        @if (Model.TotalItems > 10)
        {
            <div class="comment-menu-page">

                @Html.PagedListPager(
                    (IPagedList)Model.PagedComments,
                    page => Url.Action("Theme", "Forum", new { id = Model.Theme.ThemeId, page }),
                    new PagedListRenderOptions
                    {
                        LinkToFirstPageFormat = String.Format("<< Первая страница"),
                        LinkToPreviousPageFormat = String.Format("<"),
                        LinkToNextPageFormat = String.Format(">"),
                        LinkToLastPageFormat = String.Format("Последняя страница >>"),
                        MaximumPageNumbersToDisplay = 1,
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded
                    }
                )        
            </div>
        }
    </div>
}


