@model BeginApplication.Models.ThemesWithSectionModel

@if (Model != null)
{
    <div class="themes">
        @foreach (var theme in Model.PagedThemes)
        {
            <div class="theme">
                @Html.Partial("_Theme", theme)
                <div class="theme-sub-part">
                    @if (Roles.IsUserInRole("moder") || Roles.IsUserInRole("admin"))
                    {
                        using (Html.BeginForm("RemoveTheme", "Forum", new { id = theme.ThemeId, section = Model.Section.SectionId, path = Request.Url.AbsoluteUri }))
                        {
                            <input class="btn btn-danger btn-xs"
                                   type="submit"
                                   value="Удалить тему"
                                   style="margin-bottom: 9px;"
                                   onclick="return confirm('Вы действительно хотите удалить тему?')" />
                        }
                    }
                </div>
            </div>
        }
    </div>
}
