@model BeginApplication.Models.ThemesWithSectionModel

@if (Model != null)
{
    <div class="themes">
        @foreach (var theme in Model.PagedThemes)
        {
            <div class="theme">
                @Html.Partial("_Theme", theme)
                <div class="theme-sub-part">
                    @if (Roles.IsUserInRole("moder") || Roles.IsUserInRole("admin"))
                    {
                        <button style="margin-bottom: 9px;" class="btn btn-danger btn-xs" type="button" onclick="location.href='@Url.Action("RemoveTheme", "Forum", new { id = theme.ThemeId, section = Model.Section.SectionId, path = Request.Url.AbsoluteUri })'">Удалить тему</button>
                    }
                </div>
            </div>
        }
    </div>
}
