@model BeginApplication.Models.ThemesWithSectionModel

@if (Model != null)
{
    <div class="themes">
        @foreach (var theme in Model.PagedThemes)
        {
            <div class="theme">
                @Html.Partial("_Theme", theme)           
            </div>
        }
    </div>
}
