@model BeginApplication.Models.ThemesWithSectionModel

@if ((User.Identity.IsAuthenticated && String.IsNullOrEmpty(Model.SearchingString)) || 
    Model.TotalItems > 10)
{
    <div class="theme-menu">
        <div class="theme-menu-add">
            @if (User.Identity.IsAuthenticated && String.IsNullOrEmpty(Model.SearchingString))
            {
                <p>
                    <button class="btn btn-success btn-sm" type="button" onclick="location.href='@Url.Action("AddTheme", "Forum", new { id = Model.Section.SectionId })'">Добавить тему</button>
                </p>
            }
        </div>
        <div class="theme-menu-page">
            @if (Model.TotalItems > 10)
            {
                @Html.PagedListPager(
                    (IPagedList)Model.PagedThemes,
                    page => Url.Action("Section", "Forum", new 
                    { 
                        searching = Model.SearchingString, 
                        id = Model.Section.SectionId, 
                        page 
                    }),
                    new PagedListRenderOptions
                    {
                        LinkToFirstPageFormat = String.Format("<< Первая страница"),
                        LinkToPreviousPageFormat = String.Format("<"),
                        LinkToNextPageFormat = String.Format(">"),
                        LinkToLastPageFormat = String.Format("Последняя страница >>"),
                        MaximumPageNumbersToDisplay = 1,
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded
                    }
                )
            }
        </div>
    </div>
}
