@model BeginApplication.Models.SectionsModel

@{
    ViewBag.Title = "Форум";
}

<h4>Разделы форума</h4>
<div class="container main section-list">
    @foreach (var forumSection in Model.Sections)
    {
        <div class="row topic-link-line section-link-line">
            <div class="col-md-7">
                <p>@Html.ActionLink(forumSection.SectionTitle, "Section", "Forum", new { id = (int)forumSection.SectionId, @class = "topic-link" }, null)</p>
            </div>
            <div class="col-md-2">
                <small>
                    <p>Тем: @forumSection.ThemeCount</p>
                </small>
            </div>
            <div class="col-md-2 right">
                <small>
                    <p>Постов: @forumSection.CommentCount</p>
                    @if (User.IsInRole("admin") || User.IsInRole("moder"))
                    {
                        if (forumSection.CountUncheckedComments != 0)
                        {
                            <p style="color: #d90000;">Непроверенных постов: @forumSection.CountUncheckedComments</p>
                        }
                    }
                </small>
            </div>           
        </div>
    }
</div>