@media (min-width: 768px) {
	.navbar-nav>li>form>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.navbar-inverse .navbar-nav>li>form>a {
	color: #999;
	text-decoration: none;
}

.nav>li>form>a {
	position: relative;
	display: block;
	padding: 15px 15px;
}

.nav>li>form>a:hover {
	color: #eeeeee;
}