@{
    ViewBag.Title = "Контакты";
}

<div class="contact">
    <p>
        <h2>Электронная почта</h2>
    </p>
    <p>
        <span class="label">Обратная связь : </span>
        <span><a href="mailto:derchepur@gmail.com">derchepur@gmail.com</a></span>
    </p>
</div>