@model BeginApplication.Models.ThemesModel

@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h2>Недавние темы</h2>
</div>

@Html.Partial("_Themes", Model.Themes)