html {
    position: relative;
    min-height: 100%;
	margin: 0px;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

.container, #footer-section{
    width: 80%;
	min-width: 960px;
	margin: 0 auto;
}

#admin-section{
    border: 1px solid;
    margin: 10px 0px;
    overflow: hidden;
}
    #admin-section > a{
        float: right;
        padding: 5px 25px;
    }

#header-section {
    overflow: hidden;
    margin: 10px 0px;
    border: 1px solid;
}
    #logo-pic, #site-name{
        float: left;
        padding: 25px;
    }
    #login-info{
        float:right;
        padding: 10px 25px;
    }

#navigation-section{
    display: table;
    width: 100%;
    margin: 10px 0;
}
    .navigation-cell{
        display: table-cell;
        text-align: center;
        border: 1px solid;
        padding: 5px;
    }

/*СТИЛЬ ФУТЕРА*/

#footer-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
}
    #footer-section{
        overflow: hidden;
        height: 85%;
        border: 1px solid;
    }
        .right-reserved{
            float: left;
            padding: 10px;
        }
        .feedback{
            float: right;
            padding: 10px;
        }

/*СТИЛЬ НЕДАВНИХ ТЕМ*/

.theme{
	margin: 10px 0;
	overflow: hidden;  
    border: 1px solid;
}
	.theme-main-part {
		margin: 10px;
		box-sizing: padding-box;
		overflow: hidden;
	}
		.theme-header{
			overflow: hidden;
			border-bottom: 2px solid;
		}
			.theme-header-user{
				float: left;
			}
			.theme-header-date{
				float: right;
			}
            .theme-header-count{
               clear: both;
               float: right;
            }

.forum-section{
    display: table;
    width: 100%;
    border: 2px solid;
    margin: 10px 0;
}
    .forum-section-cell{
        display: table-cell;
        text-align: center;
        width: 33%;
        padding: 10px;
    }

.theme-comments{
    overflow: hidden;
}
    .theme-comment, .last-theme-comment{
        border: 1px dotted;
        width: 80%;
        float: right;
        clear: both;
        margin: 10px 0;
    }

.pagination li {
    display: inline;
    padding: 5px;
    border: 1px dotted;
}

.theme-menu, .comment-menu{
    margin: 10px 0;
    border: 1px solid;
    overflow: hidden;
}
    .theme-menu-add, .comment-menu-add{
        float: left;
        margin: inherit;
    }

    .theme-menu-page, .comment-menu-page{
        float: right;
    }

#add-comment-form, .changeAvatar{
    display: none;
}

 /*КОММЕНТЫ*/
.comment{
	display: table;
	margin: 10px 0px;
	border: 1px solid;
    width: 95%;
    float: right;
}
	.c-left, .c-right
	{
		display: table-cell;
		vertical-align: top;
		border: 1px solid;
	}
    .c-left{
        width: 15%;
    }
    .c-right{
        width: 85%;
    }
		.cl-user{
			border-bottom: 1px solid;
			min-height: 40px;
		}
		
		.cr-header{
			clear: both;
			overflow: hidden;
			border-bottom: 1px solid;
			min-height: 40px;
		}
		.crh-date-time{
			float: left;
			padding: 4px;
		}
		.crh-vote-button{
			float: right;
		}
			.crh-vote{
				float: right;
				padding: 7px;
			}
			.crh-button{
				float: right;
				padding: 4px 0px;
			}


.private-cabinet{
    display: table;
    width: 100%;
    margin: 10px 0;
}
    .first-column, .second-column, .third-column{
        display: table-cell;     
        border-right: 1px solid;
        padding: 5px;
    }
    .first-column{
        width: 20%;
    }
    .second-column{
        width: 50%;
    }
    .third-column{
        width: 30%;
    }

/*топик-тема*/
.theme-body{
    display: table;
}
    .theme-body-first, .theme-body-second{
        display: table-cell;
        vertical-align: top;
        padding: 5px;
    }

.theme-sub-part{
    float: right;
    margin: 5px;
}
.comment-sub-part{
    float: right;
}

.user-data, .user-paged-list, .form-user-searching{
    overflow: hidden;
}